@use 'sass:color';
@use 'styles/colors' as colors;
@use 'styles/variables' as vars;

.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem vars.$container-padding;

  .feature-card {
    flex: 1;
    max-width: 300px;
    padding: 2rem;
    border-radius: 16px;
    background-color: color.adjust(colors.$bg, $lightness: -4%);
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: colors.$accent-ai;
    }

    p {
      font-size: 1rem;
      color: colors.$text-secondary;
    }
  }
}
