@use 'styles/colors' as colors;
@use 'styles/variables' as vars;

.page {
  background-color: colors.$bg;
  color: colors.$text-primary;
  text-align: center;
  padding: vars.$container-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .title {
    font-size: 2rem;
  }
}

.chess-board {
  display: flex;
  gap: 32px;
}
