@use 'styles/colors' as colors;
@use 'styles/variables' as vars;

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$bg;
  padding: vars.$container-padding;
}
